.slack-icon {
  height: 35px;
  margin-left: 10px;
}

form {
  border-radius: 9px;
  border: solid #bbb 2px;
  margin-bottom: 15px;
}

button {
  margin-left: 5px;
  padding-right: 10px;
  color: #727375;
  font-size: 25px;
  font-weight: 300;
  background-color: white;
  border-style: none;
  border-right: solid #bbb 2px;
  height: 35px;
}

input {
  font-size: 18px;
  border-style: none;
  font-weight: 300;
  color: #505050;
  margin-left: 12px;
  width: 85vw;
}

input:focus {
  outline-width: 0;
}

.smiley {
  height: 33px;
  float: right;
  border-radius: 25px;
  padding-top: 2px;
  margin-right: 4px;
}

.swirl * {
  animation: swirl 1.5s infinite linear;
}
@keyframes swirl {
  100% {
    transform:rotate(360deg);
  }
}

.dance * {
  animation: dance 0.5s linear infinite;
}
@keyframes dance {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }    
}